[MESSAGES CONTROL]
# C0321 More than one statement on a single line
# C0103 Invalid method/attribute name
# E1123 Unexpected keyword argument
# R0915 Too many statements
# R1705 Unnecesary "else" after "return"
disable=C0321, C0103, E1123, R0915, R1705

[TYPECHECK]
# To remove messages like "Module 'numpy' has no 'zeros' member"
ignored-modules = numpy
