"*":
  core:
    customFileTypes:
      "source.matlab": [
        "m"
      ]
    disabledPackages: [
      "vim-mode-plus"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.pyc"
      "__pycache__"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 11
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "7fcdc7a4-cabc-4f18-989a-bc8c22f0d6b0"
  "file-icons": {}
  "linter-pylint":
    disableTimeout: true
  "linter-ui-default":
    panelHeight: 69
  minimap: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
